# Local environments
venv/
_pycache_/
.streamlit/
.env

# Python build and distribution tools
*.pyc
*.pyo
*.pyd
.pytest_cache/
.ipynb_checkpoints/

# Data and large training objects
data/
*.pkl
*.h5
*.joblib

# Operating system files
.DS_Store
Thumbs.db
